Repository Qiskit/qiskit-aqua, pull requests merged in 2020-12, with the labels that each got.

#1468 Add mixer and initial_state properties to QAOA
  qiskit/aqua/algorithms/minimum_eigen_solvers/qaoa/qaoa.py
Labels: Optimization

#1480 Fix lint exception on CI
  .github/workflows/main.yml
  .pylintrc
  qiskit/chemistry/results/electronic_structure_result.py
Labels: stable backport potential, type: bug

#1485 Fix Yahoo Provider unit test
  test/finance/test_data_providers.py
Labels: Finance, type: bug

#1482 Add init files to Chemistry test folders to enable unit tests on it
  test/chemistry/circuit/__init__.py
  test/chemistry/circuit/library/__init__.py
Labels: Chemistry
