Repository Qiskit/qiskit-aqua, pull requests merged in 2021-01, with the labels that each got.

#1488 Interpret solution samples of MinimumEigenOptimizer
  qiskit/optimization/algorithms/__init__.py
  qiskit/optimization/algorithms/minimum_eigen_optimizer.py
  qiskit/optimization/algorithms/optimization_algorithm.py
  releasenotes/notes/interpret-samples-da97b2b39a249592.yaml
  requirements.txt
  setup.py
  test/optimization/test_admm.py
  test/optimization/test_min_eigen_optimizer.py
  test/optimization/test_slsqp.py
Labels: Changelog: API Change, Changelog: New Feature, Optimization

#1500 Fix for coveralls 422 errors
  .github/workflows/main.yml
Labels: type: bug

#1481 Do not overwrite aux_operators in GSE and AdaptVQE
  qiskit/chemistry/algorithms/ground_state_solvers/adapt_vqe.py
  qiskit/chemistry/algorithms/ground_state_solvers/ground_state_eigensolver.py
  test/chemistry/test_adapt_vqe.py
  test/chemistry/test_groundstate_eigensolver.py
Labels: Changelog: Bugfix, Chemistry

#1505 Fix copyright year errors in master
  qiskit/chemistry/algorithms/ground_state_solvers/adapt_vqe.py
  qiskit/chemistry/algorithms/ground_state_solvers/ground_state_eigensolver.py
  test/chemistry/test_adapt_vqe.py
  test/chemistry/test_groundstate_eigensolver.py
Labels: type: bug

#1492 fix "RuntimeError: dictionary changed size during iteration"
  qiskit/aqua/components/optimizers/spsa.py
Labels: Changelog: Bugfix

#1506 Fix copyright year errors in master
  qiskit/aqua/components/optimizers/spsa.py
Labels: type: bug

#1477 Handle None-operators gracefully in GroundStateEigensolver
  qiskit/chemistry/algorithms/ground_state_solvers/ground_state_eigensolver.py
  test/chemistry/test_groundstate_eigensolver.py
Labels: Changelog: Bugfix, Chemistry

#1507 Fix batch variable generation of QuadraticProgram
  qiskit/optimization/problems/quadratic_program.py
  test/optimization/test_quadratic_program.py
Labels: Optimization
